body{
	width: 100%;
	height: 100%;
	min-height: 616px; 
	font: arial, sans-serif;
	text-align: -webkit-center;
	display: block;
	color: #616161;
}
a{
	color: inherit;
	text-decoration: none;
}

.main-top {
	position: absolute;
	top: 15px;
	width: 100%;
	font-size: 14px;
}

.navbar{
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	text-align: right;
	min-width: 241px;
	display: block;
	background-color: #ffffff;
	
}

#profile-picture{
	padding: 10px;
	float: right;
}

	#profile-picture img{
		border-radius: 50%;
		height: 32px;
		width: 32px;
	}

#alerts{
	padding: 10px;
	float: right;
	opacity: 0.55;
}

#alerts:hover{
	opacity: 1;
}


#apps{
	padding: 10px;
	float: right;
	opacity: 0.55;
}

#apps:hover{
	opacity: 1;
}

#images{
	padding: 10px;
	float: right;
	line-height: 30px;
}

#gmail{
	padding: 10px;
	float: right;
	line-height: 30px;
}

.main-google{
	margin-top: 192px;
	position: relative;
}

.main-google img{
	height: 200px;
	width: 400px;
	margin: 30px;
}

.action {
	position: relative;
	text-align: center;
	display: block;
}

.searchbar{
	display: block;

}

.searchbar input{
	width: 480px;
	padding: 12px 20px;
	padding-right: 50px;
	border: 1px solid #e4e4e4;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px #b3b3b3;
	font-size: 16px;
}

.voice-search{
	position: relative;
	display: inline;
	left: 215px;
	bottom: 64px;
	height: 50px;
	width: 50px;
}

.voice-search img{
	width: 24px;
	height: 24px;
}

.buttons{
	cursor: auto;
}

